.button-rnd-g{
    width: fit-content;

    border: 1px solid black;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 5px;
    background-image: linear-gradient(to right,rgba(236, 221, 221, 0.062),rgb(186, 236, 186));
    text-align: center;
    cursor: pointer;
    user-select: none;
}