.header-main{
    padding: 10px;
    position: relative;
    background-color: white;
    top: 0;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo{
    min-width: fit-content;
    display: flex;
    justify-content: center;
}
.header-logo img{
    height: 70px;
    padding-left: 5px;
}
.header-text{
    font-size: 1.1em;
}
.header-nav{
    padding: 0px 10px;
}
.header-nav-item{
    border: 1px solid black;
    padding: 5px;
    margin : 0px 5px;
    text-decoration: none;
    color: black;
}