@media screen and (max-width : 600px) {
    .heading-small{
        text-align: center; 

    }
    .menulist{
        display: block;
        margin: auto;
    }
    .menulist ul li{
        text-align: center;
    }
    
}
.heading-small{
    font-size: var(--heading-small);
}
.heading-big{
    font-size: var(--heading-big);
}
.heading-medium{
    font-size: var(--heading-medium);
}
.heading {
    margin: 20px 0;
    font-weight: bold;
    user-select: none;

    font-family: "Raleway", sans-serif;
    
}
/*Circle*/
.circle{
    border-radius: 50%;
    border: 2px solid var(--light-blue);
    background-color: var(--white);
    position: relative;
    margin: auto;
}
/*Arrows*/
.arrow {
    border-width: 0 4px 4px 0;
    border-color: var(--light-blue);
    border-style: solid;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 5px;
    width: 7px;
    height: 7px;
    margin: auto;
    user-select: none;
}
.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 7px;
  }
  
.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left : 7px;
}

.arrow-top {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 7px;
    animation-name: arrUp;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.arrow-bottom {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 7px;
    animation-name: arrDown;
    animation-duration: 300ms;
    animation-fill-mode: forwards;

}

.arrow-disabled{
    visibility: hidden;
}

@keyframes arrUp {
    to{
        top :7px;
        bottom: 0;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    from{
        bottom: 7px;
        top: 0px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}
@keyframes arrDown {
    from{
        top :7px;
        bottom: 0;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    to{
        bottom: 7px;
        top: 0px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}


.expand-bar{
   position : relative
}
.expand-bar hr {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 25px;
}
.question{
    border: 5px solid var(--blue);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    display: block;
}

.question-normal{
    border: 3px solid var(--blue);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    opacity: 1;
    display: flex;
}

.question-from-left {
   
   transform: translate(-100%)


}
.question-from-right {
   
    transform: translate(100%)
 
 
 }
.slide-in{
    transform: translateX(0%) !important;
    opacity: 1 !important;

}
.slid-in{
    opacity: 1;
}

.slide-out-right{
    transform: translateX(100%);
    opacity: 0;
}
.slide-out-left{
    transform: translateX(-100%);
    opacity: 0;
}
.question p, .question-normal p{
    width: 40%;
    max-width: 50%;
    height: fit-content;
    padding: 10px;
    margin: auto;
    display : inline-block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    vertical-align: top;
}
.immovable{
    transition: none !important;
    transform: translateX(0%) !important;
    opacity: 1 !important;
}

.missing-answer{
    border-color : red !important;
    transition: none !important;
    transform: translateX(0%) !important;
    opacity: 1 !important;
}
.answered{
    transition: none !important;
    transform: translateX(0%) !important;
    opacity: 1 !important;
}
.question-static {
    opacity: 1 !important;
    transform: translateX(0%) !important;
}
/* Text alignments */

.text-left {
    
}


.expandable{
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: ease-in;
    overflow-y: scroll;

}
.collapsed{
    max-height: 0 !important;
    overflow: clip;
}

footer a{
    color: inherit
}

#contact{
    font-size: var(--small);
}

@media screen and (max-width: 600px) {

    #bottom-nav{
        width: 100% !important;
    }
    #contact{
        float: none;
        margin: auto;
        width: fit-content !important;
    }
    #bottom-nav .text-left{
        text-align: center;
    }
    .menulist{
        width: 40%;
    }
    
}

@media screen and (max-width: 420px) 
{
    .menulist{
        display: block !important;
    }
}

.menulist ul{
    padding: 0;
    list-style-type: none;
    font-size: var(--small);
}
.menulist ul li{
    margin : 5px 0
}
.menulist{
    vertical-align: top;
    align-items: start;
    padding-top: 0 !important;
}
.menulist div.heading-small{
    margin : 0;
    padding-top: 0;
}

.testnavbar-element{
    display: inline-block;
    vertical-align: middle;
    margin: 20px 10px !important;
}
.testnavbar{
    margin: auto;
    width: fit-content
}
#questionPanel{
    margin: 20px;
}

/**
    Transititions
*/

.transition{
    transition: all;
    transition-timing-function: linear;
    transition-duration: 25000ms;
}

.slide-in-out-start-left{
    transform: translateX(-100%); 
    opacity: 0;
}
.slide-in-element{
    transform: translateX(0%);
    opacity: 1;
}
.slide-out-to-right{
    transform: translateX(100%);
    opacity: 0;
}

.both-slide-in-out-start-left{
    transform: translateX(-100%); 
    opacity: 0;
}
.both-slide-in-out-start-right{
    transform: translateX(100%); 
    opacity: 0;
}
.both-slide-in-element{
    transform: translateX(0%);
    opacity: 1;
}
.both-slide-out-to-right{
    transform: translateX(100%);
    opacity: 0;
}
.both-slide-out-to-left{
    transform: translateX(-100%);
    opacity: 0;
}
.force-no-transition{
    transition: none !important; 
}

.td-content{
    aspect-ratio: 1/1;
}

.square {
    content: "";
    height: 30px;
    width: 30px;
    border: 1px solid black;
    vertical-align: middle;
    display: inline-block;
}

.result-table-content{
    vertical-align: middle;
}
.table-legend{
    width: 40%;
    vertical-align: middle;
    display: inline-block;
    height: auto;
}

.table-legend-item{
    vertical-align: middle;
    margin: 5px;
    width: fit-content;
}
.legend-desc{
    text-align: center;
    display: inline-block;
    margin-left: 5px;
}
.clearfix{
    content: "";
    clear: both;
    overflow: hidden;
}
#result-table{
    margin: auto;
}
.result-table{
    margin: 20px;
}

@media screen and (max-width: 800px) {

    .result-table-content{
        float: none;
        width: 100% !important;
        display: block !important;
    }
    .table-legend{
        
        float:none;
        width: fit-content !important;
        margin: 20px auto;
        display: block !important;
    }
    
}

.button{
    width: fit-content;
    border: 1px solid black;
    border-radius: 90px;
    padding: 5px 15px;
    margin: 20px auto;
    background-image: gray;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 1.1em;
}
.toggle{
    background-image: inherit;
    opacity: 100%;
    
}
.notoggle{
    opacity: 30%;
}

.button-rnd-g{
    width: fit-content;

    border: 1px solid black;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 5px;
    background-image: linear-gradient(to right,rgba(236, 221, 221, 0.062),rgb(186, 236, 186));
    text-align: center;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width : 600px){


}

.category-desc{
    text-align: justify;
    padding: 20px;
    margin: 20px;
    

}
#category-desc-content{
    overflow: hidden;

}
#category-desc-content-expandable {
    transition-duration: 500ms;
    transition-property: all;
    max-height: 0px;

}
.category-desc-content-p{
    padding: 10px;
}
#category-desc-content-expandable.expanded{
    max-height: 100vh;
}

footer .footer{
    margin: 20px;
    text-align: center;
    font-size: var(--small);
    font-style: italic;
}

.header-main{
    padding: 10px;
    position: relative;
    background-color: white;
    top: 0;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo{
    min-width: fit-content;
    display: flex;
    justify-content: center;
}
.header-logo img{
    height: 70px;
    padding-left: 5px;
}
.header-text{
    font-size: 1.1em;
}
.header-nav{
    padding: 0px 10px;
}
.header-nav-item{
    border: 1px solid black;
    padding: 5px;
    margin : 0px 5px;
    text-decoration: none;
    color: black;
}


.info-popup{
    position: fixed;
    width:auto;
    max-width: 1060px;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    padding: 30px 20px;
    top: 0;
    left: 0;
    right: 0;
    animation-name: fading;
    animation-duration: 2s;
    animation-delay: 1s;
    z-index: 9999;
    animation-fill-mode: forwards;
}
@keyframes fading {
    0%{
        display: block;
        opacity: 100%;
    }
    100%{
        display: none;
        opacity: 0%;
    }
}


.not-selected{
    border-color: var(--red);
}
.error-msg{
    padding: 10px;
    color: var(--red);
    font-size: var(--bigger);
    font-style: italic;
    font-weight: bold;
    width: 100% !important;
    max-width: 100% !important;
}

.main{
    text-align: center;
    margin: 10px;
}