@media screen and (max-width : 600px) {
    .heading-small{
        text-align: center !important; 

    }
    
}
.heading-small{
    font-size: var(--heading-small);
}
.heading-big{
    font-size: var(--heading-big);
}
.heading-medium{
    font-size: var(--heading-medium);
}
.heading {
    padding: 10px 0;
    margin: 20px 0;
    font-weight: bold;
    user-select: none;

    font-family: "Raleway", sans-serif;
    
}
/*Circle*/
.circle{
    border-radius: 50%;
    border: 2px solid var(--light-blue);
    background-color: var(--white);
    position: relative;
    margin: auto;
}
/*Arrows*/
.arrow {
    border-width: 0 4px 4px 0;
    border-color: var(--light-blue);
    border-style: solid;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 5px;
    width: 7px;
    height: 7px;
    margin: auto;
    user-select: none;
}
.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 7px;
  }
  
.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left : 7px;
}

.arrow-top {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 7px;
    animation-name: arrUp;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.arrow-bottom {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 7px;
    animation-name: arrDown;
    animation-duration: 300ms;
    animation-fill-mode: forwards;

}

@keyframes arrUp {
    to{
        top :7px;
        bottom: 0;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    from{
        bottom: 7px;
        top: 0px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}
@keyframes arrDown {
    from{
        top :7px;
        bottom: 0;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    to{
        bottom: 7px;
        top: 0px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}


.expand-bar{
   position : relative
}
.expand-bar hr {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 25px;
}
.question{
    border: 3px solid var(--blue);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    opacity: 0;
    display: flex;
}

.question-normal{
    border: 3px solid var(--blue);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    opacity: 1;
    display: flex;
}

.question-from-left {
   
   transform: translate(-100%)


}
.question-from-right {
   
    transform: translate(100%)
 
 
 }
.slide-in{
    transform: translateX(0%);
    opacity: 1;

}
.slid-in{
    opacity: 1;
}

.slide-out-right{
    transform: translateX(100%);
    opacity: 0;
}
.slide-out-left{
    transform: translateX(-100%);
    opacity: 0;
}
.question p, .question-normal p{
    width: max-content;
    max-width: 40%;
    height: max-content;
    padding: 10px;
    margin: auto;
    flex: 1 1 0;
    text-align: center;
    align-self: center;
}


/* Text alignments */

.text-left {
    
}


.expandable{
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: ease-in;
    overflow-y: scroll;

}
.collapsed{
    max-height: 0 !important;
    overflow: clip;
}
